.ListItem {
	color: black;
	width: 90%;
	display: flex;
	align-items: center;
	flex-direction: row;
	font-size: 1.2 em;
	font-weight: 300;
	margin-bottom: 0.6em;
	margin-left: 1.15em;
	background-color: var(--color-list);
	border-radius: 7px;
	transition: transform 0.2s ease-in-out;
}
.ListItemChecked {
	color: black;
	width: 90%;
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 1.2 em;
	font-weight: 300;
	margin-bottom: 0.6em;
	margin-left: 1.15em;
	background-color: rgba(232, 231, 230);
	border-radius: 7px;
	transition: transform 0.2s ease-in-out;
}

.ListItem:hover {
	transform: scale(1.05);
}

.ListItem-name {
	font-size: 1em;
	margin-left: 0.5em;
}

.ListItem-urgency {
	width: fit-content;
	block-size: fit-content;
	text-transform: uppercase;
	font-size: 0.99rem;
	margin-left: 0.5em;
	padding: 10px;
	color: black;
	font-weight: 400;
	font-style: italic;
}

.ListItem-label {
	margin-left: 0.5em;
	width: 87%;
}
.ListItem-label-checked {
	text-decoration: line-through;
	margin-left: 0.5em;
	width: 87%;
}
