@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl font-bold md:text-5xl;
	}

	h2 {
		@apply text-2xl font-bold md:text-4xl;
	}
}

:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-dark-teal: #137c78;
	--color-light-teal: #8ad0ce;
	--color-dark-orange: #e36849;
	--color-yellow: #ffbe30;

	--color-accent: var(--color-light-teal);
	--color-bg: var(--color-black);
	--color-border: var(--color-light-teal);
	--color-error: var(--color-dark-orange);
	--color-text: var(--color-white);
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-light-teal);
		--color-bg: var(--color-white);
		--color-border: var(--color-black);
		--color-text: var(--color-black);
	}
}

:root.theme-light {
	--color-accent: var(--color-light-teal);
	--color-bg: var(--color-white);
	--color-border: var(--color-black);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the screen.
 */
body {
	height: 100dvh;
}

/**
 * Set the value of 1rem to 10px to make relative units
 * easier to work with.
 * (The default is 16px. 16 * 62.5% = 10)
 */
html {
	font-size: 62.5%;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		avenir next,
		avenir,
		segoe ui,
		helvetica neue,
		helvetica,
		Ubuntu,
		roboto,
		noto,
		arial,
		sans-serif;
	font-size: 1.8rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	--color-bg: var(--color-gray-dark);
	--color-text: var(--color-accent);

	background-color: var(--color-bg);
	border-radius: 4px;
	color: var(--color-text);
	display: inline-block;
	font-family:
		Menlo,
		Consolas,
		Monaco,
		Liberation Mono,
		Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
}

@media screen and (prefers-color-scheme: light) {
	code {
		--color-bg: var(--color-gray-light);
	}
}

:root.theme-light code {
	--color-bg: var(--color-gray-light);
}

input::placeholder {
	color: #137c78;
}

@media screen and (prefers-color-scheme: dark) {
	input::placeholder {
		color: lightblue;
	}
}
